.box{
    width: 50%;
    height: 275px;
    background-color: bisque;
    border: 2px dotted orange;
    margin: 10rem auto;
}

.content{
    background-color: beige;
    text-align: center;
    padding: 10px;
    border: 2px dotted orange;
}

p{
    text-align: center;
}

.border{
    width: 80%;
    height: 200px;
    background-color: orange;
    margin: auto;
}

.padd{
   
        width: 80%;
        height: 100px;
        background-color: rgb(230, 183, 98);
        margin: auto;
    
}