/* Global selectors */

*{ 
    background-color: #333;
    color: white;
}

/* select using tag name */

h3 {
    font-size: 24px;
    text-decoration: underline;
}

/* Select using id (#) & Classname (.) */

#div-1{
    text-align: center;
}

.mydiv{
    background-color: black;
    padding: 2rem;
}